Repository MetaMorphic-Digital/draw-steel, pull requests merged in 2024-12, with the labels that each got.

#46 Suppress effects with expired durations
  src/module/apps/actor-sheet.mjs
  src/module/apps/item-sheet.mjs
  src/module/documents/active-effect.mjs
Labels: data model

#50 Implemented Item Sheets
  draw-steel.mjs
  lang/en.json
  package.json
  src/module/_types.d.ts
  src/module/apps/actor-sheet.mjs
  src/module/apps/item-sheet.mjs
  src/module/config.mjs
  src/module/data/actor/base.mjs
  src/module/data/actor/character.mjs
  src/module/data/advancement/_module.mjs
  src/module/data/advancement/_types.d.ts
  src/module/data/advancement/base.mjs
  src/module/data/fields/advancement-data-field.mjs
  src/module/data/fields/advancement-field.mjs
  src/module/data/helpers.mjs
  src/module/data/item/_module.mjs
  src/module/data/item/_types.d.ts
  src/module/data/item/ability.mjs
  src/module/data/item/advancement.mjs
  src/module/data/item/ancestry.mjs
  src/module/data/item/base.mjs
  src/module/data/item/career.mjs
  src/module/data/item/class.mjs
  src/module/data/item/complication.mjs
  src/module/data/item/culture.mjs
  src/module/data/item/equipment.mjs
  src/module/data/item/feature.mjs
  src/module/data/item/kit.mjs
  src/module/data/item/title.mjs
  src/module/documents/_module.mjs
  src/module/documents/advancement/_module.mjs
  src/module/documents/advancement/_types.d.ts
  src/module/documents/advancement/advancement.mjs
  src/scss/components/_item-sheet.scss
  src/scss/draw-steel.scss
  system.json
  templates/actor/biography.hbs
  templates/actor/header.hbs
  templates/actor/stats.hbs
  templates/item/advancement.hbs
  templates/item/description.hbs
  templates/item/details.hbs
  templates/item/header.hbs
  templates/item/partials/ability.hbs
  templates/item/partials/career.hbs
  templates/item/partials/class.hbs
  templates/item/partials/equipment.hbs
  templates/item/partials/feature.hbs
  templates/item/partials/kit.hbs
Labels: data model, apps, config, UI/UX

#68 Removed resistance roll references
  lang/en.json
  src/module/config.mjs
  src/module/data/actor/base.mjs
  src/module/helpers/rolls.mjs
Labels: roll, config

#69 Implemented Project Roll
  draw-steel.mjs
  lang/en.json
  src/module/helpers/rolls.mjs
  templates/rolls/project.hbs
Labels: roll

#70 Implemented Saving Throw roll class
  draw-steel.mjs
  lang/en.json
  src/module/config.mjs
  src/module/helpers/rolls.mjs
  src/scss/global/_roll.scss
  templates/rolls/save.hbs
Labels: roll

#75 Refactored slide toggle
  src/module/apps/_module.mjs
  src/module/apps/elements/_module.mjs
  src/module/apps/elements/adopted-stylesheet-mixin.mjs
  src/module/apps/elements/checkbox.mjs
  src/module/apps/elements/slide-toggle.mjs
  src/module/apps/slide-toggle.mjs
  src/scss/components/_forms.scss
Labels: apps, UI/UX

#71 Added Measurement data to actor biography
  src/module/data/actor/base.mjs
  src/module/data/actor/character.mjs
  src/module/data/actor/npc.mjs
  src/module/data/item/ability.mjs
  src/module/data/item/base.mjs
Labels: data model

#77 Implemented system model based duration
  draw-steel.mjs
  lang/en.json
  src/module/apps/_module.mjs
  src/module/apps/hooks/_module.mjs
  src/module/apps/hooks/activeEffectConfig.mjs
  src/module/config.mjs
  src/module/data/effect/_types.d.ts
  src/module/data/effect/base.mjs
  src/module/documents/active-effect.mjs
Labels: data model, apps

#79 Bugfix: Missed two property adjustments in refactor
  src/module/data/effect/base.mjs
Labels: data model

#81 Documentation Updates
  CONTRIBUTING.md
  README.md
  package.json
Labels: documentation

#86 Migrated characteristics from 3 letters to 1
  draw-steel.mjs
  lang/en.json
  src/module/apps/actor-sheet.mjs
  src/module/config.mjs
  src/module/data/actor/_types.d.ts
  src/module/data/actor/base.mjs
  src/module/data/item/class.mjs
  src/module/data/item/equipment.mjs
  src/module/documents/actor.mjs
  src/packs/journals/rules/journal_Characteristics_f8eNK5Pte4CSdex0.json
  src/packs/journals/rules/journal_The_Basics_f8eNK5Pte4CSdex0.json
  src/scss/components/_actor-sheet.scss
  templates/actor/stats.hbs
Labels: data model, config

#83 Implemented Initiative
  draw-steel.mjs
  lang/en.json
  src/module/apps/_module.mjs
  src/module/apps/hooks/_module.mjs
  src/module/apps/hooks/activeEffectConfig.mjs
  src/module/apps/hooks/combatTracker.mjs
  src/module/apps/hooks/combatantConfig.mjs
  src/module/constants.mjs
  src/module/data/_module.mjs
  src/module/data/_types.d.ts
  src/module/data/combat/_module.mjs
  src/module/data/combat/_types.d.ts
  src/module/data/combat/base.mjs
  src/module/data/combatant/_module.mjs
  src/module/data/combatant/_types.d.ts
  src/module/data/combatant/base.mjs
  src/module/documents/_types.d.ts
  src/module/documents/combat.mjs
  src/module/documents/combatant.mjs
  src/module/helpers/_module.mjs
  src/module/helpers/settings.mjs
  src/scss/draw-steel.scss
  src/scss/global/_combat-tracker.scss
  system.json
Labels: data model, apps, UI/UX

#87 Languages
  lang/en.json
  src/module/apps/actor-sheet.mjs
  src/module/config.mjs
  templates/actor/biography.hbs
Labels: config

#91 Update XP values to latest backer packet
  src/module/config.mjs
Labels: config

#100 Implemented Temporary Stamina
  lang/en.json
  src/module/data/actor/_types.d.ts
  src/module/data/actor/base.mjs
  src/module/data/actor/character.mjs
  src/module/data/item/_types.d.ts
  src/module/data/item/ability.mjs
  src/module/data/item/class.mjs
  src/module/data/item/equipment.mjs
  src/scss/components/_actor-sheet.scss
  templates/actor/stats.hbs
  templates/item/partials/class.hbs
Labels: data model, UI/UX

#85 Updated Status Effects to backer packet 2
  draw-steel.mjs
  src/module/config.mjs
  src/module/documents/_types.d.ts
  src/module/documents/active-effect.mjs
  src/packs/journals/combat/journal_Conditions_hDhdILCi65wpBgPZ.json
Labels: config

#88 Implemented Potency
  lang/en.json
  src/module/apps/item-sheet.mjs
  src/module/data/actor/_types.d.ts
  src/module/data/actor/base.mjs
  src/module/data/actor/character.mjs
  src/module/data/item/ability.mjs
  src/module/documents/actor.mjs
  src/module/documents/item.mjs
  templates/item/partials/ability.hbs
Labels: data model, apps

#115 Add ability categories
  lang/en.json
  src/module/config.mjs
  src/module/data/item/_types.d.ts
  src/module/data/item/ability.mjs
  templates/item/partials/ability.hbs
Labels: config
