Repository MetaMorphic-Digital/draw-steel, pull requests merged in 2024-09, with the labels that each got.

#20 19 type declarations
  draw-steel.d.ts
  jsconfig.json
  lang/en.json
  package.json
  src/module/_types.d.ts
  src/module/apps/_types.d.ts
  src/module/apps/actor-sheet.mjs
  src/module/apps/item-sheet.mjs
  src/module/config.mjs
  src/module/data/_module.mjs
  src/module/data/_types.d.ts
  src/module/data/actor/_types.d.ts
  src/module/data/actor/base.mjs
  src/module/data/actor/character.mjs
  src/module/data/actor/npc.mjs
  src/module/data/effect/_types.d.ts
  src/module/data/effect/base.mjs
  src/module/data/helpers.mjs
  src/module/data/item/_types.d.ts
  src/module/data/item/ability.mjs
  src/module/data/item/ancestry.mjs
  src/module/data/item/career.mjs
  src/module/data/item/class.mjs
  src/module/data/item/complication.mjs
  src/module/data/item/culture.mjs
  src/module/data/item/equipment.mjs
  src/module/data/item/feature.mjs
  src/module/data/item/kit.mjs
  src/module/data/item/title.mjs
  src/module/documents/_types.d.ts
  src/module/helpers/rolls.mjs
  src/module/helpers/utils.mjs
Labels: documentation, tech debt

#21 Size and Weight update
  lang/en.json
  src/module/config.mjs
  src/module/data/_types.d.ts
  src/module/data/actor/_types.d.ts
  src/module/data/actor/base.mjs
  src/module/data/helpers.mjs
  src/scss/components/_actor-sheet.scss
  templates/actor/stats.hbs
Labels: data model

#24 [#9] Add charge keyword
  lang/en.json
  src/module/config.mjs
Labels: config

#23 [#17] Add linting for html and hbs files
  .eslintrc.json
  CONTRIBUTING.md
  example-foundry-config.yaml
  package-lock.json
  package.json
Labels: tech debt

#27 Updated Contributing, ran lint fix
  .eslintrc.json
  CONTRIBUTING.md
  templates/actor/abilities.hbs
  templates/actor/biography.hbs
  templates/actor/effects.hbs
  templates/actor/features.hbs
  templates/actor/header.hbs
  templates/actor/stats.hbs
  templates/item/description.hbs
  templates/item/effects.hbs
  templates/item/header.hbs
  templates/rolls/power.hbs
Labels: documentation

#31 Kit Bonuses for Abilities
  lang/en.json
  src/module/config.mjs
  src/module/data/_types.d.ts
  src/module/data/actor/_types.d.ts
  src/module/data/actor/character.mjs
  src/module/data/helpers.mjs
  src/module/data/item/_types.d.ts
  src/module/data/item/ability.mjs
  src/module/data/item/base.mjs
  src/module/helpers/rolls.mjs
Labels: data model

#39 [#32] Update formula field
  src/module/data/_module.mjs
  src/module/data/fields/_module.mjs
  src/module/data/fields/formula-field.mjs
  src/module/data/helpers.mjs
  src/module/data/item/ability.mjs
Labels: data model
