Repository MetaMorphic-Digital/draw-steel, pull requests merged in 2025-05, with the labels that each got.

#434 Pseudo-documents: Document and subtype mixins
  src/module/data/_module.mjs
  src/module/data/_types.d.ts
  src/module/data/actor/base.mjs
  src/module/data/actor/character.mjs
  src/module/data/actor/npc.mjs
  src/module/data/item/_types.d.ts
  src/module/data/item/ability.mjs
  src/module/data/item/advancement.mjs
  src/module/data/item/ancestry.mjs
  src/module/data/item/base.mjs
  src/module/data/item/career.mjs
  src/module/data/item/class.mjs
  src/module/data/item/complication.mjs
  src/module/data/item/culture.mjs
  src/module/data/item/equipment.mjs
  src/module/data/item/feature.mjs
  src/module/data/item/kit.mjs
  src/module/data/item/project.mjs
  src/module/data/subtype-model-mixin.mjs
  src/module/documents/_module.mjs
  src/module/documents/actor.mjs
  src/module/documents/base-document-mixin.mjs
  src/module/documents/item.mjs
Labels: data model

#432 Update power roll messages to show formula per target
  lang/en.json
  src/module/rolls/power.mjs
  src/styles/system/applications/sidebar/tabs/chat.css
  templates/rolls/power.hbs
Labels: roll

#435 Pseudo-documents: Pseudo-document data model
  src/module/data/_module.mjs
  src/module/data/_types.d.ts
  src/module/data/pseudo-documents/_module.mjs
  src/module/data/pseudo-documents/pseudo-document.mjs
  src/module/data/pseudo-documents/typed-pseudo-document.mjs
Labels: data model

#439 Remove unfilled origin button interactivity in play mode
  lang/en.json
  src/module/applications/sheets/actor-sheet.mjs
  templates/actor/character/header.hbs
Labels: apps

#438 Implement scaffolding of power roll effects in Ability items
  lang/en.json
  src/module/applications/sheets/_module.mjs
  src/module/applications/sheets/pseudo-documents/_module.mjs
  src/module/applications/sheets/pseudo-documents/power-roll-effect-sheet.mjs
  src/module/data/item/ability.mjs
  src/module/data/pseudo-documents/_module.mjs
  src/module/data/pseudo-documents/power-roll-effects/_module.mjs
  src/module/data/pseudo-documents/power-roll-effects/base-power-roll-effect.mjs
  src/module/data/pseudo-documents/power-roll-effects/damage-effect.mjs
Labels: apps

#440 Update biography editors
  templates/actor/shared/partials/biography/biography.hbs
  templates/actor/shared/partials/biography/gm-notes.hbs
Labels: apps

#430 Update Roll-Data.md
  src/docs/Roll-Data.md
Labels: documentation

#450 Update embed of power rolls
  .eslintrc.json
  .gitattributes
  lang/en.json
  src/module/applications/apps/power-roll-dialog.mjs
  src/module/data/item/ability.mjs
  src/module/data/pseudo-documents/power-roll-effects/base-power-roll-effect.mjs
  src/module/data/pseudo-documents/power-roll-effects/damage-effect.mjs
  templates/item/embeds/ability.hbs
Labels: data model, apps

#448 Implemented _getSegmentStyle for DrawSteelTokenRuler
  src/module/canvas/placeables/tokens/token-ruler.mjs
Labels: canvas

#456 Update show malice condition to always show for Director
  src/module/applications/ui/players.mjs
Labels: UI/UX

#449 Simple embed implementation
  CHANGELOG.md
  src/module/applications/sheets/actor-sheet.mjs
  src/module/applications/sheets/item-sheet.mjs
  src/module/applications/sidebar/tabs/combat-tracker.mjs
  src/module/data/effect/base.mjs
  src/module/data/item/base.mjs
  src/module/data/item/kit.mjs
  src/module/data/item/project.mjs
  src/module/documents/_types.d.ts
  src/module/documents/active-effect.mjs
  src/module/documents/actor.mjs
  src/module/documents/base-document-mixin.mjs
  src/module/documents/item.mjs
  src/module/utils/_module.mjs
  src/module/utils/enrichHTML.mjs
Labels: data model

#458 Remove unnecessary unregisterSheet calls
  draw-steel.mjs
Labels: apps, config

#462 Create Power Roll Effects and re-implement Ability item sheet
  .eslintrc.json
  .gitattributes
  draw-steel.mjs
  lang/en.json
  src/module/applications/api/pseudo-document-sheet.mjs
  src/module/applications/apps/power-roll-dialog.mjs
  src/module/applications/sheets/_module.mjs
  src/module/applications/sheets/item-sheet.mjs
  src/module/applications/sheets/pseudo-documents/_module.mjs
  src/module/applications/sheets/pseudo-documents/power-roll-effect-sheet.mjs
  src/module/config.mjs
  src/module/data/_types.d.ts
  src/module/data/fields/_module.mjs
  src/module/data/fields/collection-field.mjs
  src/module/data/fields/lazy-typed-schema-field.mjs
  src/module/data/item/_types.d.ts
  src/module/data/item/ability.mjs
  src/module/data/item/advancement.mjs
  src/module/data/item/base.mjs
  src/module/data/pseudo-documents/_module.mjs
  src/module/data/pseudo-documents/_types.d.mts
  src/module/data/pseudo-documents/power-roll-effects/_module.mjs
  src/module/data/pseudo-documents/power-roll-effects/_types.d.mts
  src/module/data/pseudo-documents/power-roll-effects/base-power-roll-effect.mjs
  src/module/data/pseudo-documents/power-roll-effects/damage-effect.mjs
  src/module/data/pseudo-documents/pseudo-document.mjs
  src/module/data/pseudo-documents/typed-pseudo-document.mjs
  src/module/utils/_module.mjs
  src/module/utils/model-collection.mjs
  src/styles/system/applications/sheets/item-sheet.css
  templates/item/embeds/ability.hbs
  templates/item/impact.hbs
  templates/item/partials/ability.hbs
  templates/sheets/pseudo-documents/power-roll-effect-sheet/details-tiers.hbs
  templates/sheets/pseudo-documents/power-roll-effect-sheet/details.hbs
  templates/sheets/pseudo-documents/power-roll-effect-sheet/identity.hbs
Labels: data model, apps

#466 Fixed non-inclusion of packs
  .github/workflows/release.yml
Labels: tech debt

#469 Update power roll dialog to inherit from DSApplication
  src/module/applications/apps/power-roll-dialog.mjs
  src/module/rolls/power.mjs
Labels: apps

#470 Fixed various issues with ability internals
  CHANGELOG.md
  css/draw-steel-system.css
  src/module/canvas/placeables/tokens/token-ruler.mjs
  src/module/data/item/_types.d.ts
  src/module/data/item/ability.mjs
  src/module/data/item/base.mjs
  src/module/data/item/project.mjs
  src/module/data/pseudo-documents/_types.d.ts
  src/module/data/pseudo-documents/power-roll-effects/_types.d.mts
  src/module/data/pseudo-documents/power-roll-effects/_types.d.ts
  src/module/data/pseudo-documents/power-roll-effects/base-power-roll-effect.mjs
  src/module/data/pseudo-documents/power-roll-effects/damage-effect.mjs
  src/module/data/pseudo-documents/pseudo-document.mjs
  src/module/data/pseudo-documents/typed-pseudo-document.mjs
  src/styles/system/_system.mjs
  src/styles/system/applications/sheets/item-sheet.css
  src/styles/system/data/_data.mjs
  src/styles/system/data/item/ability.css
  system.json
  templates/item/embeds/ability.hbs
  templates/item/impact.hbs
Labels: data model, apps

#473 Swap `DialogV2` uses to `DSDialog`.
  src/module/applications/sheets/character.mjs
  src/module/applications/sheets/npc.mjs
  src/module/data/actor/base.mjs
  src/module/data/actor/character.mjs
  src/module/data/item/ability.mjs
  src/module/data/item/kit.mjs
  src/module/data/item/project.mjs
  src/module/data/models/source.mjs
  src/module/documents/combat.mjs
  src/module/documents/combatant-group.mjs
Labels: apps

#477 "Other" power roll effect type
  draw-steel.mjs
  lang/en.json
  src/module/applications/api/pseudo-document-sheet.mjs
  src/module/applications/hooks/tokenApplication.mjs
  src/module/applications/sheets/pseudo-documents/power-roll-effect-sheet.mjs
  src/module/config.mjs
  src/module/data/item/_types.d.ts
  src/module/data/pseudo-documents/power-roll-effects/_module.mjs
  src/module/data/pseudo-documents/power-roll-effects/_types.d.ts
  src/module/data/pseudo-documents/power-roll-effects/base-power-roll-effect.mjs
  src/module/data/pseudo-documents/power-roll-effects/damage-effect.mjs
  src/module/data/pseudo-documents/power-roll-effects/other-effect.mjs
  src/module/data/pseudo-documents/pseudo-document.mjs
  src/module/data/pseudo-documents/typed-pseudo-document.mjs
  templates/item/impact.hbs
  templates/sheets/pseudo-documents/power-roll-effect-sheet/details-tiers.hbs
  templates/sheets/pseudo-documents/power-roll-effect-sheet/identity.hbs
Labels: data model, apps

#480 Applied Power Roll Effect
  lang/en.json
  src/module/config.mjs
  src/module/data/actor/base.mjs
  src/module/data/actor/character.mjs
  src/module/data/item/ability.mjs
  src/module/data/pseudo-documents/power-roll-effects/_module.mjs
  src/module/data/pseudo-documents/power-roll-effects/_types.d.ts
  src/module/data/pseudo-documents/power-roll-effects/applied-effect.mjs
  src/module/data/pseudo-documents/power-roll-effects/base-power-roll-effect.mjs
  src/module/data/pseudo-documents/power-roll-effects/damage-effect.mjs
  src/module/data/pseudo-documents/power-roll-effects/other-effect.mjs
  templates/sheets/pseudo-documents/power-roll-effect-sheet/details-tiers.hbs
Labels: data model

#481 Forced Movement Implementation
  lang/en.json
  src/module/config.mjs
  src/module/data/pseudo-documents/power-roll-effects/_module.mjs
  src/module/data/pseudo-documents/power-roll-effects/_types.d.ts
  src/module/data/pseudo-documents/power-roll-effects/applied-effect.mjs
  src/module/data/pseudo-documents/power-roll-effects/forced-movement-effect.mjs
  templates/sheets/pseudo-documents/power-roll-effect-sheet/details-tiers.hbs
Labels: data model

#483 Add properties field to damage and forced PREs
  lang/en.json
  src/module/config.mjs
  src/module/data/pseudo-documents/power-roll-effects/_types.d.ts
  src/module/data/pseudo-documents/power-roll-effects/applied-effect.mjs
  src/module/data/pseudo-documents/power-roll-effects/damage-effect.mjs
  src/module/data/pseudo-documents/power-roll-effects/forced-movement-effect.mjs
  templates/sheets/pseudo-documents/power-roll-effect-sheet/details-tiers.hbs
Labels: data model

#484 Split effect into before & after
  CHANGELOG.md
  lang/en.json
  src/module/applications/sheets/item-sheet.mjs
  src/module/data/item/_types.d.ts
  src/module/data/item/ability.mjs
  src/styles/system/applications/sheets/item-sheet.css
  system.json
  templates/item/embeds/ability.hbs
  templates/item/impact.hbs
Labels: data model, apps

#487 Have potency apply to all effect types
  lang/en.json
  src/module/data/item/ability.mjs
  src/module/data/pseudo-documents/power-roll-effects/_types.d.ts
  src/module/data/pseudo-documents/power-roll-effects/applied-effect.mjs
  src/module/data/pseudo-documents/power-roll-effects/base-power-roll-effect.mjs
  src/module/data/pseudo-documents/power-roll-effects/damage-effect.mjs
  src/module/data/pseudo-documents/power-roll-effects/forced-movement-effect.mjs
  src/module/data/pseudo-documents/power-roll-effects/other-effect.mjs
  templates/sheets/pseudo-documents/power-roll-effect-sheet/details-tiers.hbs
Labels: data model

#489 Move mode toggle and update source buttons to header
  CHANGELOG.md
  css/draw-steel-elements.css
  css/draw-steel-variables.css
  lang/en.json
  src/module/applications/_module.mjs
  src/module/applications/api/document-sheet-mixin.mjs
  src/module/applications/elements/_module.mjs
  src/module/applications/elements/adopted-stylesheet-mixin.mjs
  src/module/applications/elements/checkbox.mjs
  src/module/applications/elements/slide-toggle.mjs
  src/module/applications/sheets/character.mjs
  src/module/applications/sheets/item-sheet.mjs
  src/module/applications/sheets/npc.mjs
  src/styles/elements/_elements.mjs
  src/styles/elements/slide-toggle.css
  src/styles/system/applications/components/forms.css
  src/styles/system/applications/sheets/actor-sheet.css
  src/styles/variables/_variables.mjs
  src/styles/variables/slide-toggle.css
  templates/actor/character/header.hbs
  templates/actor/npc/header.hbs
  templates/item/header.hbs
  templates/parts/mode-toggle.hbs
Labels: apps

#471 Wikipage Automation
  src/docs/System Automations.md
Labels: documentation

#501 Fix setting power roll characteristic for negative values
  CHANGELOG.md
  src/module/data/item/ability.mjs
Labels: data model

#499 Automate edges from flanking
  CHANGELOG.md
  draw-steel.mjs
  lang/en.json
  src/module/applications/sheets/_module.mjs
  src/module/applications/sheets/wall-config.mjs
  src/module/canvas/placeables/token.mjs
  src/module/data/actor/base.mjs
  src/module/data/item/ability.mjs
  src/module/documents/_module.mjs
  src/module/documents/wall.mjs
Labels: canvas

#513 Data path fix
  CHANGELOG.md
  src/module/data/actor/character.mjs
Labels: data model

#512 Added type parameter to constructHTMLButton, defaulting to "button"
  CHANGELOG.md
  src/module/utils/construct-html-button.mjs
Labels: apps

#507 Fixed missing story text
  CHANGELOG.md
  src/docs/Roll-Data.md
  src/module/data/item/class.mjs
  templates/item/embeds/ability.hbs
Labels: apps

#517 Add level to roll data
  CHANGELOG.md
  src/module/data/actor/base.mjs
Labels: data model

#524 Removed roll initiative buttons
  CHANGELOG.md
  src/module/applications/sidebar/tabs/combat-tracker.mjs
Labels: apps

#522 Fixed doubled characteristic dice
  CHANGELOG.md
  src/module/helpers/dsn.mjs
Labels: UI/UX

#520 Fixed data issues with AE embeds
  CHANGELOG.md
  src/module/data/effect/base.mjs
  src/module/documents/active-effect.mjs
Labels: data model

#521 Added missing skill to CONFIG and en.json
  CHANGELOG.md
  lang/en.json
  src/module/config.mjs
Labels: config

#525 Add taunted automation
  CHANGELOG.md
  src/docs/System Automations.md
  src/module/data/item/ability.mjs
  src/module/documents/active-effect.mjs
Labels: data model

#523 Improved error handling in formula evaluation
  CHANGELOG.md
  src/docs/Roll-Data.md
  src/module/applications/sheets/actor-sheet.mjs
  src/module/applications/sheets/item-sheet.mjs
  src/module/data/effect/base.mjs
  src/module/data/item/ability.mjs
  src/module/data/item/base.mjs
  src/module/data/item/kit.mjs
  src/module/data/pseudo-documents/power-roll-effects/base-power-roll-effect.mjs
  src/module/data/pseudo-documents/power-roll-effects/forced-movement-effect.mjs
  src/module/utils/_module.mjs
  src/module/utils/enrich-html.mjs
  src/module/utils/evaluate-formula.mjs
Labels: apps

#528 Beclowning Myself
  system.json
Labels: tech debt

#533 Migrated to eslint 9
  .eslintrc.json
  eslint.config.mjs
  package-lock.json
  package.json
  src/module/_types.d.ts
  src/module/applications/sheets/_types.d.ts
  src/module/data/_types.d.ts
  src/module/data/actor/_types.d.ts
  src/module/data/item/_types.d.ts
  src/module/data/pseudo-documents/_types.d.ts
  src/module/data/pseudo-documents/power-roll-effects/_types.d.ts
  src/module/documents/_types.d.ts
  system.json
  templates/actor/character/header.hbs
  templates/actor/npc/header.hbs
  templates/actor/shared/effects.hbs
  templates/item/effects.hbs
  templates/ui/players.hbs
Labels: tech debt

#542 Prevent characteristic scores from becoming `null`
  CHANGELOG.md
  src/module/data/actor/base.mjs
Labels: data model
