Repository MetaMorphic-Digital/draw-steel, pull requests merged in 2025-02, with the labels that each got.

#210 Improved Dice So Nice integration
  draw-steel.mjs
  src/module/data/item/ability.mjs
  src/module/helpers/_module.mjs
  src/module/helpers/dsn.mjs
  src/module/rolls/power.mjs
Labels: roll

#195 Implemented generic embed for all item types
  lang/en.json
  src/module/apps/actor-sheet/base.mjs
  src/module/data/item/ability.mjs
  src/module/data/item/base.mjs
  templates/item/partials/ability.hbs
Labels: data model

#199 Release prep
  .github/workflows/main.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  README.md
  package.json
  src/module/data/actor/character.mjs
  src/module/data/item/ability.mjs
  system.json
Labels: tech debt

#208 Fixed double application of Winded
  src/module/data/actor/base.mjs
Labels: data model

#201 Free Strikes
  lang/en.json
  src/module/apps/_types.d.ts
  src/module/apps/actor-sheet/npc.mjs
  src/module/data/actor/_types.d.ts
  src/module/data/actor/npc.mjs
  src/scss/components/_actor-sheet.scss
  templates/actor/npc/stats.hbs
Labels: data model, apps

#217 More DSN fixes
  src/module/helpers/dsn.mjs
Labels: roll

#216 Refactoring the ability tier effects
  lang/en.json
  src/module/apps/_types.d.ts
  src/module/apps/item-sheet.mjs
  src/module/apps/power-roll-dialog.mjs
  src/module/data/actor/base.mjs
  src/module/data/actor/character.mjs
  src/module/data/item/ability.mjs
  src/module/data/item/base.mjs
  src/module/data/message/ability-use.mjs
  src/module/rolls/power.mjs
  src/scss/components/_chat-message.scss
  src/scss/components/_embeds.scss
  src/scss/components/_item-sheet.scss
  src/scss/draw-steel.scss
  templates/item/embeds/ability.hbs
  templates/item/partials/ability.hbs
  templates/rolls/power-roll-dialog.hbs
  templates/rolls/power.hbs
Labels: data model, apps, roll

#219 Cleaned up possible ways the editor could get in a bad state
  src/module/apps/item-sheet.mjs
Labels: apps

#221 Add damage buttons to chat cards
  lang/en.json
  src/module/data/item/ability.mjs
  src/module/data/message/ability-use.mjs
  src/module/helpers/utils.mjs
  src/scss/components/_chat-message.scss
Labels: apps

#222 Update ability tab to present more information and use the ability embed
  lang/en.json
  src/module/apps/actor-sheet/base.mjs
  src/module/config.mjs
  src/module/data/item/ability.mjs
  src/scss/components/_actor-sheet.scss
  src/scss/components/_items.scss
  src/scss/utils/_colors.scss
  templates/actor/shared/abilities.hbs
Labels: config

#223 Update release.yml
  .github/workflows/release.yml
Labels: tech debt

#227 Fixed character creation fail
  src/module/apps/actor-sheet/base.mjs
  system.json
Labels: apps

#238 Update the features tab to use updated item list layout
  CHANGELOG.md
  lang/en.json
  src/module/apps/_types.d.ts
  src/module/apps/actor-sheet/base.mjs
  src/module/apps/actor-sheet/character.mjs
  src/module/apps/actor-sheet/npc.mjs
  src/module/data/item/ability.mjs
  src/module/data/item/base.mjs
  src/scss/components/_actor-sheet.scss
  templates/actor/character/features.hbs
  templates/actor/npc/features.hbs
  templates/actor/shared/abilities.hbs
  templates/actor/shared/features-list.hbs
Labels: apps

#245 Add kit embed
  CHANGELOG.md
  draw-steel.mjs
  lang/en.json
  src/module/data/item/kit.mjs
  src/scss/components/_embeds.scss
  templates/actor/character/features.hbs
  templates/item/embeds/kit.hbs
  templates/item/partials/kit.hbs
Labels: apps

#244 Adjustments to the kit section of the features tab
  CHANGELOG.md
  lang/en.json
  src/module/data/item/kit.mjs
  templates/actor/character/features.hbs
Labels: apps

#247 Fix kit stability not being adding to hero stability
  CHANGELOG.md
  src/module/data/actor/character.mjs
Labels: data model

#251 Add an equipment tab
  CHANGELOG.md
  lang/en.json
  src/module/apps/_types.d.ts
  src/module/apps/actor-sheet/base.mjs
  src/module/apps/actor-sheet/character.mjs
  src/module/apps/actor-sheet/npc.mjs
  src/scss/components/_actor-sheet.scss
  templates/actor/character/equipment.hbs
  templates/actor/npc/features.hbs
  templates/actor/shared/features-list.hbs
  templates/actor/shared/features.hbs
Labels: data model, apps
