Repository MetaMorphic-Digital/draw-steel, pull requests merged in 2025-01, with the labels that each got.

#104 Hero Tokens API
  lang/en.json
  src/module/config.mjs
  src/module/data/_module.mjs
  src/module/data/_types.d.ts
  src/module/data/settings/_module.mjs
  src/module/data/settings/_types.d.ts
  src/module/data/settings/hero-tokens.mjs
  src/module/helpers/settings.mjs
  src/module/helpers/sockets.mjs
  src/module/helpers/utils.mjs
  system.json
Labels: data model, config

#116 Implement API to Use an ability
  draw-steel.mjs
  lang/en.json
  src/module/apps/hooks/_module.mjs
  src/module/apps/hooks/chatMessage.mjs
  src/module/config.mjs
  src/module/data/_module.mjs
  src/module/data/_types.d.ts
  src/module/data/actor/_types.d.ts
  src/module/data/actor/base.mjs
  src/module/data/combat/_types.d.ts
  src/module/data/combat/base.mjs
  src/module/data/combatant/_types.d.ts
  src/module/data/combatant/base.mjs
  src/module/data/effect/base.mjs
  src/module/data/item/_types.d.ts
  src/module/data/item/ability.mjs
  src/module/data/item/base.mjs
  src/module/data/message/_module.mjs
  src/module/data/message/_types.d.ts
  src/module/data/message/ability-use.mjs
  src/module/data/message/base.mjs
  src/module/documents/_types.d.ts
  src/module/documents/actor.mjs
  src/module/documents/item.mjs
  src/scss/components/_embeds.scss
  src/scss/draw-steel.scss
  system.json
  templates/item/description.hbs
  templates/item/embeds/ability.hbs
  templates/item/partials/ability.hbs
Labels: data model, config, UI/UX

#139 Split Character and NPC Sheets
  draw-steel.mjs
  lang/en.json
  src/module/apps/_module.mjs
  src/module/apps/actor-sheet/_module.mjs
  src/module/apps/actor-sheet/base.mjs
  src/module/apps/actor-sheet/character.mjs
  src/module/apps/actor-sheet/npc.mjs
  templates/actor/character/features.hbs
  templates/actor/character/header.hbs
  templates/actor/character/stats.hbs
  templates/actor/npc/features.hbs
  templates/actor/npc/header.hbs
  templates/actor/npc/stats.hbs
  templates/actor/shared/abilities.hbs
  templates/actor/shared/biography.hbs
  templates/actor/shared/effects.hbs
Labels: apps

#140 Implemented helper function for filling in options for SetField instances
  src/module/data/actor/base.mjs
  src/module/data/actor/character.mjs
  src/module/data/actor/npc.mjs
  src/module/data/helpers.mjs
  src/module/data/item/ability.mjs
  src/module/data/item/class.mjs
  src/module/data/item/equipment.mjs
  src/module/data/item/kit.mjs
Labels: data model

#142 NPC Specific Properties
  lang/en.json
  src/module/apps/actor-sheet/base.mjs
  src/module/apps/actor-sheet/character.mjs
  src/module/apps/actor-sheet/npc.mjs
  src/module/apps/item-sheet.mjs
  src/module/config.mjs
  src/module/data/actor/npc.mjs
  src/module/data/item/ability.mjs
  src/scss/components/_actor-sheet.scss
  templates/actor/character/biography.hbs
  templates/actor/character/header.hbs
  templates/actor/character/stats.hbs
  templates/actor/npc/biography.hbs
  templates/actor/npc/header.hbs
  templates/actor/npc/stats.hbs
Labels: data model, apps, config, UI/UX

#150 Implemented Damage Roll
  draw-steel.mjs
  src/module/data/actor/base.mjs
  src/module/data/item/ability.mjs
  src/module/helpers/_module.mjs
  src/module/rolls/_module.mjs
  src/module/rolls/base.mjs
  src/module/rolls/damage.mjs
  src/module/rolls/power.mjs
  src/module/rolls/project.mjs
  src/module/rolls/savingThrow.mjs
Labels: data model, roll

#154 Improved Actor Abilities Tab
  lang/en.json
  src/module/apps/actor-sheet/base.mjs
  src/module/apps/item-sheet.mjs
  src/module/data/item/ability.mjs
  src/module/rolls/power.mjs
  src/scss/components/_actor-sheet.scss
  templates/actor/shared/abilities.hbs
  templates/item/embeds/ability.hbs
  templates/item/partials/ability.hbs
Labels: apps, UI/UX

#151 Implemented Malice
  lang/en.json
  src/module/apps/actor-sheet/npc.mjs
  src/module/data/settings/_module.mjs
  src/module/data/settings/malice.mjs
  src/module/documents/combat.mjs
  src/module/helpers/settings.mjs
  templates/actor/npc/header.hbs
Labels: data model, apps, UI/UX

#141 Initialized Migration Version, renamed Gamemaster to Director
  CONTRIBUTING.md
  draw-steel.mjs
  lang/en.json
  src/module/data/_module.mjs
  src/module/data/migrations.mjs
  src/module/helpers/settings.mjs
Labels: UI/UX

#157 Implement Surges
  lang/en.json
  src/module/apps/actor-sheet/character.mjs
  src/module/data/actor/base.mjs
  src/module/data/actor/character.mjs
  src/module/data/settings/hero-tokens.mjs
  src/module/helpers/sockets.mjs
  src/module/rolls/project.mjs
  src/scss/components/_actor-sheet.scss
  templates/actor/character/stats.hbs
Labels: data model, apps, UI/UX

#159 Heroic Resource Automation
  lang/en.json
  src/module/config.mjs
  src/module/data/actor/_types.d.ts
  src/module/data/actor/base.mjs
  src/module/data/actor/character.mjs
  src/module/data/combatant/_types.d.ts
  src/module/data/item/_types.d.ts
  src/module/data/item/ability.mjs
  src/module/data/item/class.mjs
  src/module/data/item/equipment.mjs
  src/module/data/message/ability-use.mjs
  src/module/data/settings/malice.mjs
  src/module/documents/combat.mjs
  src/module/documents/combatant.mjs
  templates/item/embeds/ability.hbs
  templates/item/partials/ability.hbs
  templates/item/partials/class.hbs
Labels: data model, apps

#160 Add statuses object to rollData to prevent errors
  src/module/documents/actor.mjs
Labels: bug

#164 Implemented re-localizing data models on hotReload
  draw-steel.mjs
  src/module/helpers/_module.mjs
  src/module/helpers/hotReload.mjs
Labels: tech debt, UI/UX

#169 Header Improvements
  lang/en.json
  src/module/apps/actor-sheet/character.mjs
  src/module/apps/actor-sheet/npc.mjs
  src/module/apps/item-sheet.mjs
  src/module/data/_module.mjs
  src/module/data/_types.d.ts
  src/module/data/actor/_types.d.ts
  src/module/data/actor/base.mjs
  src/module/data/actor/character.mjs
  src/module/data/actor/npc.mjs
  src/module/data/advancement/base.mjs
  src/module/data/fields/_types.d.ts
  src/module/data/fields/formula-field.mjs
  src/module/data/helpers.mjs
  src/module/data/item/_types.d.ts
  src/module/data/item/ability.mjs
  src/module/data/item/ancestry.mjs
  src/module/data/item/base.mjs
  src/module/data/item/career.mjs
  src/module/data/item/class.mjs
  src/module/data/item/complication.mjs
  src/module/data/item/culture.mjs
  src/module/data/item/equipment.mjs
  src/module/data/item/feature.mjs
  src/module/data/item/kit.mjs
  src/module/data/models/_module.mjs
  src/module/data/models/_types.d.ts
  src/module/data/models/size.mjs
  src/module/data/models/source.mjs
  src/module/data/models/sparse.mjs
  src/module/helpers/settings.mjs
  src/scss/components/_actor-sheet.scss
  src/scss/components/_forms.scss
  src/scss/components/_item-sheet.scss
  src/scss/draw-steel.scss
  src/scss/global/_light-theme-fix.scss
  src/scss/global/_window.scss
  templates/actor/character/header.hbs
  templates/actor/npc/header.hbs
  templates/item/header.hbs
  templates/parts/mode-toggle.hbs
Labels: data model, apps, UI/UX

#145 Improved Item Description UX
  lang/en.json
  src/module/apps/item-sheet.mjs
  src/scss/components/_item-sheet.scss
  templates/item/description.hbs
Labels: apps, UI/UX

#163 Instantiated build tools
  .github/workflows/main.yml
  .gitignore
  CHANGELOG.md
  package.json
  rollup.config.mjs
  src/module/apps/item-sheet.mjs
  src/module/documents/item.mjs
Labels: tech debt

#175 Fixed malice consumption, non-roll abilities.
  src/module/data/actor/base.mjs
  src/module/data/actor/character.mjs
  src/module/data/actor/npc.mjs
  src/module/data/item/ability.mjs
  src/module/data/settings/_types.d.ts
Labels: data model

#176 Automate frightened condition
  src/module/config.mjs
  src/module/data/item/ability.mjs
  src/module/documents/active-effect.mjs
Labels: data model

#188 Add potency information to chat card
  lang/en.json
  src/module/_types.d.ts
  src/module/config.mjs
  src/module/data/item/_types.d.ts
  src/module/data/item/ability.mjs
  src/module/rolls/power.mjs
  src/scss/global/_roll.scss
  src/scss/utils/_colors.scss
  templates/item/partials/ability.hbs
  templates/rolls/power.hbs
Labels: data model

#183 Ranged Label Bugfix
  src/module/config.mjs
Labels: UI/UX

#190 Reduce speeds when slowed
  src/module/config.mjs
  src/module/data/actor/base.mjs
  src/module/documents/active-effect.mjs
Labels: data model

#189 Added initial and placeholder values for ability roll bonus
  src/module/data/item/ability.mjs
  templates/item/partials/ability.hbs
Labels: data model

#191 Added power roll results to embeds
  lang/en.json
  src/module/data/item/ability.mjs
  src/module/data/message/ability-use.mjs
  templates/item/embeds/ability.hbs
  templates/item/partials/ability.hbs
Labels: data model, apps

#192 Add feature subtypes
  lang/en.json
  src/module/config.mjs
  src/module/data/item/feature.mjs
Labels: config

#193 Update drag-drop to use .draggable
  src/module/apps/actor-sheet/base.mjs
  src/module/apps/actor-sheet/character.mjs
  src/module/apps/actor-sheet/npc.mjs
  src/module/apps/item-sheet.mjs
  templates/actor/character/features.hbs
  templates/actor/npc/features.hbs
  templates/actor/shared/abilities.hbs
  templates/actor/shared/effects.hbs
  templates/item/effects.hbs
Labels: apps

#198 Automate grabbed and restrained conditions
  src/module/config.mjs
  src/module/data/actor/base.mjs
  src/module/data/item/ability.mjs
Labels: data model
