Repository MetaMorphic-Digital/draw-steel, pull requests merged in 2025-03, with the labels that each got.

#243 Item Names & Class Levels
  CHANGELOG.md
  draw-steel.mjs
  src/module/helpers/_module.mjs
  src/module/helpers/handlebars.mjs
  src/scss/components/_forms.scss
  templates/actor/character/header.hbs
  templates/actor/npc/header.hbs
  templates/item/header.hbs
  templates/item/partials/class.hbs
Labels: apps, UI/UX

#225 Updated system.json to v13 minimums
  system.json
Labels: tech debt

#237 Various V13 changes
  draw-steel.mjs
  lang/en.json
  src/module/apps/actor-sheet/base.mjs
  src/module/apps/item-sheet.mjs
  src/module/data/actor/base.mjs
  src/module/data/migrations.mjs
  src/module/documents/active-effect.mjs
  src/module/helpers/sockets.mjs
Labels: tech debt, data model, apps, config

#254 Implemented DrawSteelCombatTracker
  draw-steel.mjs
  lang/en.json
  src/module/apps/_module.mjs
  src/module/apps/core/_module.mjs
  src/module/apps/core/combat-tracker.mjs
  src/module/apps/hooks/_module.mjs
  src/module/apps/hooks/combatTracker.mjs
  src/module/apps/hooks/combatantConfig.mjs
  src/module/constants.mjs
  src/module/data/combatant/_types.d.ts
  src/module/data/combatant/base.mjs
  src/module/data/migrations.mjs
  src/module/documents/combat.mjs
  src/module/helpers/settings.mjs
  src/scss/global/_combat-tracker.scss
  templates/combat/footer.hbs
  templates/combat/header.hbs
  templates/combat/tracker.hbs
Labels: apps

#257 Add a project item
  draw-steel.mjs
  lang/en.json
  src/module/data/item/_module.mjs
  src/module/data/item/equipment.mjs
  src/module/data/item/project.mjs
  system.json
  templates/item/embeds/project.hbs
  templates/item/partials/equipment.hbs
  templates/item/partials/project.hbs
Labels: data model, apps

#272 Update ActorSheet ContextMenu to use v13 standards
  src/module/apps/actor-sheet/base.mjs
Labels: apps

#278 Include bonuses in power rolls
  lang/en.json
  src/module/_types.d.ts
  src/module/apps/power-roll-dialog.mjs
  src/module/data/item/ability.mjs
  src/module/rolls/power.mjs
  src/module/rolls/project.mjs
  src/scss/components/_power-roll-dialog.scss
  templates/rolls/power-roll-dialog.hbs
Labels: roll

#271 Add DrawSteelActiveEffectConfig
  draw-steel.mjs
  lang/en.json
  src/module/apps/core/_module.mjs
  src/module/apps/core/active-effect-config.mjs
  src/module/apps/hooks/_module.mjs
  src/module/apps/hooks/activeEffectConfig.mjs
  src/scss/components/_active-effect_config.scss
  src/scss/draw-steel.scss
  templates/active-effect/config-duration.hbs
Labels: apps

#281 Add skills to power roll dialog and include +2 bonus when skill selected
  src/module/apps/power-roll-dialog.mjs
  src/module/data/actor/base.mjs
  src/module/rolls/power.mjs
  templates/rolls/power-roll-dialog.hbs
  templates/rolls/power.hbs
Labels: roll

#285 Update actor sheet tabs to v13 method
  lang/en.json
  src/module/apps/actor-sheet/base.mjs
  src/module/apps/actor-sheet/character.mjs
Labels: apps

#284 Add roll mode buttons to power roll dialog
  src/module/_types.d.ts
  src/module/apps/_types.d.ts
  src/module/apps/power-roll-dialog.mjs
  src/module/data/actor/base.mjs
  src/module/data/item/ability.mjs
  src/module/rolls/power.mjs
  src/scss/components/_power-roll-dialog.scss
  templates/rolls/power-roll-dialog.hbs
Labels: roll

#287 Update item-sheet tabs to v13 method
  lang/en.json
  src/module/apps/item-sheet.mjs
  src/module/data/item/ability.mjs
  templates/item/partials/ability.hbs
Labels: apps

#292 Update highest characteristic setting to post actor data prep
  src/module/data/item/ability.mjs
Labels: data model

#282 Token Ruler labels and Free Strikes
  draw-steel.mjs
  src/module/canvas/_module.mjs
  src/module/canvas/placeables/_module.mjs
  src/module/canvas/placeables/token.mjs
  src/module/canvas/placeables/tokens/_module.mjs
  src/module/canvas/placeables/tokens/token-ruler.mjs
  src/module/documents/_module.mjs
  src/module/documents/token.mjs
Labels: canvas

#319 Fixed inheritDoc, context icons
  src/module/applications/elements/adopted-stylesheet-mixin.mjs
  src/module/applications/elements/slide-toggle.mjs
  src/module/applications/sheets/actor-sheet.mjs
  src/module/data/advancement/base.mjs
  src/module/data/fields/advancement-data-field.mjs
  src/module/data/fields/advancement-field.mjs
  src/module/data/fields/formula-field.mjs
  src/module/data/models/sparse.mjs
  src/module/documents/advancement/advancement.mjs
Labels: UI/UX

#323 Testing 3 update
  draw-steel.mjs
  example-foundry-config.yaml
  jsconfig.json
  src/module/applications/apps/power-roll-dialog.mjs
  src/module/applications/apps/targeted-condition-prompt.mjs
  src/module/applications/hooks/combatantConfig.mjs
  src/module/applications/sheets/actor-sheet.mjs
  src/module/applications/sheets/item-sheet.mjs
  src/module/applications/sheets/npc.mjs
  src/module/config.mjs
  src/module/data/fields/formula-field.mjs
  src/module/data/item/ability.mjs
  src/module/data/item/kit.mjs
  src/module/data/item/project.mjs
  src/module/data/models/source.mjs
  src/module/documents/_types.d.ts
  src/module/documents/active-effect.mjs
  src/module/documents/actor.mjs
  src/module/documents/chat-message.mjs
  src/module/documents/combat.mjs
  src/module/documents/combatant.mjs
  src/module/documents/item.mjs
  src/module/documents/token.mjs
  src/module/documents/user.mjs
  src/module/rolls/base.mjs
  system.json
  tools/create-symlinks.mjs
Labels: tech debt

#318 Update hotbar item dropping
  draw-steel.mjs
  lang/en.json
  src/module/data/item/ability.mjs
  src/module/helpers/macros.mjs
Labels: data model

#286 Add CombatantGroup support, Improve Minion Handling
  draw-steel.mjs
  lang/en.json
  src/module/applications/hooks/combatantConfig.mjs
  src/module/applications/sheets/_module.mjs
  src/module/applications/sheets/combatant-group-config.mjs
  src/module/applications/sidebar/tabs/combat-tracker.mjs
  src/module/data/_module.mjs
  src/module/data/_types.d.ts
  src/module/data/actor/base.mjs
  src/module/data/actor/npc.mjs
  src/module/data/combatant-group/_module.mjs
  src/module/data/combatant-group/_types.d.ts
  src/module/data/combatant-group/base.mjs
  src/module/data/combatant-group/squad.mjs
  src/module/data/combatant/base.mjs
  src/module/data/message/ability-use.mjs
  src/module/documents/_module.mjs
  src/module/documents/_types.d.ts
  src/module/documents/actor.mjs
  src/module/documents/combat.mjs
  src/module/documents/combatant-group.mjs
  src/module/documents/combatant.mjs
  src/scss/components/_combatant-group_config.scss
  src/scss/components/_forms.scss
  src/scss/draw-steel.scss
  src/scss/global/_combat-tracker.scss
  system.json
  templates/combat/group-config/body.hbs
  templates/combat/group-config/header.hbs
  templates/combat/header.hbs
  templates/combat/tracker.hbs
  templates/combat/turn.hbs
Labels: data model, apps

#332 Updated jsconfig to use @ paths
  draw-steel.d.ts
  jsconfig.json
  src/module/applications/apps/power-roll-dialog.mjs
  src/module/applications/apps/targeted-condition-prompt.mjs
  src/module/applications/hooks/combatantConfig.mjs
  src/module/applications/sheets/actor-sheet.mjs
  src/module/applications/sheets/combatant-group-config.mjs
  src/module/applications/sheets/npc.mjs
  src/module/applications/sidebar/tabs/combat-tracker.mjs
  src/module/config.mjs
  src/module/data/_types.d.ts
  src/module/data/actor/base.mjs
  src/module/data/fields/_types.d.ts
  src/module/data/helpers.mjs
  src/module/data/item/ability.mjs
  src/module/data/models/source.mjs
  src/module/documents/_types.d.ts
  src/module/documents/combatant-group.mjs
  src/module/helpers/settings.mjs
Labels: tech debt

#331 Add hint to potency success/failure fields
  lang/en.json
  src/module/data/item/ability.mjs
Labels: UI/UX

#333 Update chat message hook
  draw-steel.mjs
  src/module/applications/hooks/_module.mjs
  src/module/applications/hooks/chatMessageHTML.mjs
  src/module/data/message/base.mjs
Labels: apps

#334 Fix issues in takeDamage
  src/module/data/actor/base.mjs
Labels: data model

#337 Compiled 0.7 changelog
  CHANGELOG.md
Labels: documentation

#338 Refactor actor sheets to use partials
  src/module/applications/sheets/character.mjs
  src/module/applications/sheets/npc.mjs
  templates/actor/character/biography.hbs
  templates/actor/character/stats.hbs
  templates/actor/npc/biography.hbs
  templates/actor/npc/stats.hbs
  templates/actor/shared/partials/biography/biography.hbs
  templates/actor/shared/partials/biography/gm-notes.hbs
  templates/actor/shared/partials/biography/languages.hbs
  templates/actor/shared/partials/stats/characteristics.hbs
  templates/actor/shared/partials/stats/combat.hbs
  templates/actor/shared/partials/stats/immunities-weaknesses.hbs
  templates/actor/shared/partials/stats/movement.hbs
Labels: apps

#341 Removed interactivity for unowned combatants
  templates/combat/turn.hbs
Labels: UI/UX

#340 Update from scss to css files
  .github/workflows/release.yml
  .gitignore
  CONTRIBUTING.md
  css/draw-steel-elements.css
  css/draw-steel-system.css
  css/draw-steel-variables.css
  package-lock.json
  package.json
  rollup.config.mjs
  src/scss/components/_active-effect_config.scss
  src/scss/components/_actor-sheet.scss
  src/scss/components/_chat-message.scss
  src/scss/components/_combatant-group_config.scss
  src/scss/components/_effects.scss
  src/scss/components/_embeds.scss
  src/scss/components/_forms.scss
  src/scss/components/_item-sheet.scss
  src/scss/components/_items.scss
  src/scss/components/_monster-metadata.scss
  src/scss/components/_power-roll-dialog.scss
  src/scss/components/_targeted-condition-prompt.scss
  src/scss/draw-steel.scss
  src/scss/global/_combat-tracker.scss
  src/scss/global/_light-theme-fix.scss
  src/scss/global/_roll.scss
  src/scss/utils/_mixins.scss
  src/scss/utils/_typography.scss
  src/scss/utils/_variables.scss
  src/styles/draw-steel.css
  src/styles/elements/_elements.mjs
  src/styles/elements/slide-toggle.css
  src/styles/system/_system.mjs
  src/styles/system/applications/_applications.mjs
  src/styles/system/applications/apps/monster-metadata.css
  src/styles/system/applications/apps/power-roll-dialog.css
  src/styles/system/applications/apps/targeted-condition-prompt.css
  src/styles/system/applications/components/effects.css
  src/styles/system/applications/components/embeds.css
  src/styles/system/applications/components/forms.css
  src/styles/system/applications/components/items.css
  src/styles/system/applications/sheets/active-effect-config.css
  src/styles/system/applications/sheets/actor-sheet.css
  src/styles/system/applications/sheets/combatant-group-config.css
  src/styles/system/applications/sheets/item-sheet.css
  src/styles/system/applications/sidebar/tabs/chat.css
  src/styles/system/applications/sidebar/tabs/combat.css
  src/styles/variables/_variables.mjs
  src/styles/variables/colors.css
  src/styles/variables/global.css
  src/styles/variables/slide-toggle.css
  src/styles/variables/typography.css
  system.json
Labels: tech debt

#344 Update ruler labels for 13.338 api changes
  src/module/canvas/placeables/token.mjs
  src/module/canvas/placeables/tokens/token-ruler.mjs
  src/module/documents/token.mjs
  src/styles/system/applications/_applications.mjs
  src/styles/system/applications/canvas/measurement.css
  templates/hud/waypoint-labels.hbs
Labels: canvas

#353 Update actor sheet header layout and styling
  lang/en.json
  src/module/applications/sheets/actor-sheet.mjs
  src/module/applications/sheets/character.mjs
  src/module/data/actor/character.mjs
  src/styles/system/applications/components/forms.css
  src/styles/system/applications/sheets/actor-sheet.css
  templates/actor/character/header.hbs
  templates/actor/npc/header.hbs
Labels: UI/UX

#355 Combat group permissions
  CHANGELOG.md
  draw-steel.d.ts
  system.json
  templates/combat/tracker.hbs
  templates/combat/turn.hbs
Labels: UI/UX

#359 Token movement improvements
  CHANGELOG.md
  css/draw-steel-system.css
  draw-steel.d.ts
  draw-steel.mjs
  lang/en.json
  src/module/_types.d.ts
  src/module/applications/_module.mjs
  src/module/applications/hud/_module.mjs
  src/module/applications/hud/token-hud.mjs
  src/module/applications/sheets/actor-sheet.mjs
  src/module/canvas/_types.d.ts
  src/module/canvas/placeables/token.mjs
  src/module/config.mjs
  src/module/data/actor/_types.d.ts
  src/module/data/actor/base.mjs
  src/module/documents/token.mjs
  src/module/helpers/hotReload.mjs
  src/styles/system/applications/_applications.mjs
  src/styles/system/applications/canvas/token-hud.css
  system.json
  templates/actor/shared/partials/stats/movement.hbs
  templates/hud/token-movement.hbs
Labels: data model, canvas
